<table mat-table [dataSource]="dataSource" matSort class="mat-cell">
  <!-- Name Column -->
  <ng-container matColumnDef="colorName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Color name </th>
    <td mat-cell *matCellDef="let element"> {{element.colorName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="hexValue">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
    <td mat-cell *matCellDef="let element" [style.background]="element.hexValue"></td>
  </ng-container>

  <!-- actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="primary" (click)="addNew()">
        <mat-icon aria-label="Add">add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let row; let i=index;">
      <button mat-icon-button color="accent" (click)="startEdit(i)">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>

      <button mat-icon-button color="accent" (click)="deleteItem(i)">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
